<app-header-finance></app-header-finance>
<app-nav-bar></app-nav-bar>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">Chiffre d'affaire filtre Jour</div>
                            <form (submit)="chiffre_jour()">
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="has-warning form-group">
                                                <input type="date" id="inputIsInvalid" class="form-control"
                                                    name="datee"  [(ngModel)]="jour">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-magic"></i>&nbsp; Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">Chiffre d'affaire filtre Mois Annee</div>
                            <form (submit)="chiffre_mois()">
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="has-warning form-group">
                                                <input type="number" id="inputIsInvalid" class="form-control"
                                                    name="mois" [(ngModel)]="mois">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="has-warning form-group">
                                                <input type="number" id="inputIsInvalid" class="form-control"
                                                    name="annee" [(ngModel)]="annee">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-magic"></i>&nbsp; Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="au-card au-card--bg-blue au-card-top-countries m-b-30">
                            <div class="au-card-inner">
                                <div class="table-responsive">
                                    <table class="table table-top-countries">
                                        <tbody>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <td>Chiffre d'affaire</td>
                                                <td class="text-right">{{chiffre_affaire.value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footers></app-footers>

            </div>
        </div>
    </div>
</div>