<app-header-atelier></app-header-atelier>
<app-nav-bar></app-nav-bar>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <h1 style="margin-left: 200px ;    font-family: math;">DIAGNOSTIC DU VOITURE </h1>
                        <h1 style="margin-left: 200px ;    font-family: math;">  {{this.matricule}} </h1>
                        <div style="box-shadow: 100px; border-radius: 5px; margin-top:50px;margin-left: 200px ;background-color: white;width: 900px;" class="table-responsive m-b-40">
                            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                                <table style="height: 70px;" formArrayName="detail" class="table table-borderless table-data">
                                    <thead>
                                        <tr>
                                            <th *ngIf="this.constante==0"><button  type="button" (click)="addQuantity()"
                                                class="btn btn-primary">+Ajouter</button></th>
                                                <th *ngIf="this.constante==1"><button disabled type="button" (click)="addQuantity()"
                                                    class="btn btn-primary">+Ajouter</button></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="this.constante==1">
                                        <tr *ngFor="let quantity of detail().controls  ; let i=index" 
                                            [formGroupName]="i" >
                                            <td >
                                                Reparation :
                                                <input  value="{{this.productForm.value.detail[i].object}}" type="text"  class="form-control" disabled>
                                            </td>
                                            <td  >
                                                Prix:
                                                <input disabled value="{{this.productForm.value.detail[i].prix}}" type="number"  class="form-control">
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat=='0'">
                                                <button disabled (click)="removeQuantity(i)" class="btn btn-danger">en cours</button>
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat=='1'">
                                                <button disabled (click)="removeQuantity(i)" style="background-color: green; color: white;" class="btn btn-active">Fini</button>
                                            </td>
                                           


                                            <!-- <td *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                Reparation :
                                                <input  value="{{this.productForm.value.detail[i].object}}" type="text" formControlName="reparation" class="form-control">
                                            </td>
                                            <td  *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                Prix:
                                                <input  value="{{this.productForm.value.detail[i].prix}}" type="text" formControlName="prix" class="form-control">
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                <button disabled (click)="removeQuantity(i)" class="btn btn-danger">supprimer</button>
                                            </td> -->

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <!-- <td><button [routerLink]="['/repair',this.matricule]" class="btn btn-primary">Enregistrer</button></td> -->
                                        </tr>

                                    </tbody>
                                    <tbody *ngIf="this.constante==0">
                                        <tr *ngFor="let quantity of detail().controls  ; let i=index" 
                                            [formGroupName]="i" >
                                            <td >
                                                Reparation :
                                                <input  value="{{this.productForm.value.detail[i].object}}" type="text" formControlName="reparation" class="form-control" >
                                            </td>
                                            <td  >
                                                Prix:
                                                <input value="{{this.productForm.value.detail[i].prix}}" type="number" formControlName="prix" class="form-control">
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat=='0'">
                                                <button (click)="removeQuantity(i)" class="btn btn-danger">supprimer</button>
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat=='1'">
                                                <button disabled (click)="removeQuantity(i)" style="background-color: green; color: white;" class="btn btn-active">Fini</button>
                                            </td>
                                        
                                            <!-- <td *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                Reparation :
                                                <input  value="{{this.productForm.value.detail[i].object}}" type="text" formControlName="reparation" class="form-control">
                                            </td>
                                            <td  *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                Prix:
                                                <input  value="{{this.productForm.value.detail[i].prix}}" type="text" formControlName="prix" class="form-control">
                                            </td>
                                            <td *ngIf="this.productForm.value.detail[i].etat!='0'">
                                                <button disabled (click)="removeQuantity(i)" class="btn btn-danger">supprimer</button>
                                            </td> -->

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><button [routerLink]="['/repair',this.matricule]" class="btn btn-primary">Enregistrer</button></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </form>
                            <!-- {{this.productForm.value | json}} -->
                        </div>

                    </div>
                    


                    <!-- END DATA TABLE-->
                </div>
                <app-footers></app-footers>
            </div>
        </div>
    </div>