<app-header></app-header>
<app-nav-bar></app-nav-bar>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Historique</h3>
                        <div class="col-lg-12">
                            <form (submit)="recherche()">
                                <div class="table-data__tool-left">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="has-warning form-group">
                                                <label for="inputIsInvalid" class=" form-control-label">Date
                                                    debut</label>
                                                <input type="datetime-local" id="inputIsInvalid" class="form-control"
                                                    name="debut" [(ngModel)]="debut">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="has-warning form-group">
                                                <label for="inputIsInvalid" class=" form-control-label">Date fin</label>
                                                <input type="datetime-local" id="inputIsInvalid" class="form-control"
                                                    name="fin" [(ngModel)]="fin">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn btn-success">
                                                <i class="fa fa-magic"></i>&nbsp; Valider</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>description</th>
                                        <th>date</th>
                                        <th>status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow" *ngFor="let reparation of reparations$ | async">
                                        <td>{{reparation.voiture.matricule}}</td>
                                        <td>
                                            <span class="block-email">{{reparation.voiture.description}}</span>
                                        </td>
                                        <td>{{reparation.date_debut}}</td>
                                        <td>
                                            <span class="badge badge-success"
                                                *ngIf="reparation.etat==='3'; else loggedOut">Fini{{reparation.etat}}</span>
                                            <ng-template #loggedOut>
                                                <span class="badge badge-warning">En cours {{reparation.etat}}</span>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-toggle="tooltip" data-placement="top"
                                                    title="Edit" [routerLink]="['/facture', reparation._id]">
                                                    <i class="zmdi zmdi-card"></i>
                                                </button>
                                                <button class="item" data-toggle="tooltip" data-placement="top"
                                                    title="More" [routerLink]="['/detail-reparation', reparation._id]"
                                                    routerLinkActive="active">
                                                    <i class="zmdi zmdi-more"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
                <app-footers></app-footers>

            </div>
        </div>
    </div>
</div>